.navbar{
  background-color: rgb(78, 129, 224) !important;
  color: white;
  padding: 0%;
}

.nav-item.active {
  background-color: rgb(37, 85, 175) !important;
  color: white !important;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10vw;
}
.nav-link.active {
  color: white !important;
}

.nav-link {
  color: white !important;
}

.side{
  color: white;
}

.col{
  padding: 0% !important;
}
.navbar-brand {
  color: white;
  font-weight: bolder;
  margin-left: 20px;
}
